* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

:root {
    --primary-font: "Inter", sans-serif;
    --primary-bg-color: #7F56D9;
    --secondary-bg-color: #ffff;
}

.wrapper {
    width: min(95%, 90rem);
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    padding-inline: 1rem;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.nav-title-logo {
    display: flex;
    align-items: center;
}

.logo {
    height: 1.8rem;
}

nav h1>a {
    font-size: 1.1rem;
    font-family: var(--primary-font);
}


ul {
    display: none;
    align-items: center;
    gap: 3rem;
}


@media screen and (min-width: 54.375rem) {
    ul {
        display: flex;
    }
}

ul li {
    transition: scale 0.2s;
}

ul>li:hover {
    scale: 1.1;
    color: red;
}

ul li>a {
    font-family: var(--primary-font);
}

.material-symbols-outlined {
    vertical-align: top;
    height: 1rem;
}

@media screen and (min-width: 80rem) {
    .header-btns {
        margin-right: 10rem;
    }

}

.login-btn,
.signup-btn {
    font-family: var(--primary-font);
    font-size: 1.1rem;
    border: none;
    padding: 0.525rem 1.125rem;
    border-radius: 0.5rem;

}

.login-btn {
    background-color: var(--secondary-bg-color);
}

.signup-btn {
    background-color: var(--primary-bg-color);
}

.login-btn:hover,
.signup-btn:hover {
    opacity: 0.6;
}

.signup-btn a {
    color: white;
}

.hero-section {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    border-top: 1px solid lightgray;
    width: min(95%, 90rem);
    margin: 1.5rem 0;
}

@media screen and (min-width: 54.375rem) {
    .hero-section {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 65rem) {
    .hero-section {
        margin: 0;
    }
}


.about-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

@media screen and (min-width: 75rem) {
    .about-section {
        gap: 1.5rem;
    }
}

.join-us {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.4rem;
    background-color: #e9d7fe44;
    padding: .25rem .625rem;
    border: 1px solid #E9D7FE;
    border-radius: 1rem;
}

@media screen and (min-width: 54.375rem) {
    .join-us {
        flex-direction: row;
        width: fit-content;
    }

}

.about-section p {
    font-family: var(--primary-font);
}



.hiring {
    border: 1px solid #D6BBFB;
    border-radius: 1rem;
    padding: .125rem .625rem;
    background-color: #ffff;
    color: #6941C6;
}

.remote {
    color: #6941C6;
    padding-right: 0.3rem;
    margin-right: 0.5rem;
    position: relative;
}

.arrow {
    position: absolute;
    top: 0.1rem;
}

.arrow img {
    width: 1rem;
}

.about-text {
    width: min(100%, 34.625rem);
}

.heading {
    font-size: clamp(2rem, 5vw, 3.75rem);
    font-family: var(--primary-font);
    margin: 1rem 0;
}

.heading-info {
    line-height: 1.575rem;
    font-size: clamp(1.25rem, 5vw, 1.5rem);
    font-weight: 400;
}

.email-form {
    width: min(100%, 31.5625rem);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}

@media screen and (min-width: 48rem) {
    .email-form {
        flex-direction: row;
        gap: 1.5rem;
    }
}

#email {
    max-width: 22.5rem;
    border-radius: .5rem;
    border: 1px solid #D0D5DD;
    padding: .75rem .875rem;
}

@media screen and (min-width: 40rem) {
    #email {
        width: 22rem;
    }
}

.email-form>button {
    background-color: var(--primary-bg-color);
    color: white;
    font-family: var(--primary-font);
    border: none;
    border-radius: .5rem;
    padding: .75rem 1.25rem;
    cursor: pointer;
}

@media screen and (min-width: 26rem) {
    .email-form>button {
        max-width: 22.5rem;
    }
}

.about-section p a {
    text-decoration: underline;
    font-family: var(--primary-font);
}

.about-section p a:hover {
    color: var(--primary-bg-color);

}

.image-section {
    width: 100%;
}

.image-section>img {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 55rem) {
    .image-section>img {
        height: 100%
    }
}